#  EPA-122A Introduction to *Spatial* Data Science


## Assignment 1: Data Collection and Wrangling


---

# ``Instructions``

This assignment puts together what you learned in **Weeks 1-2**. You will be working with a dataset which is in the form of a spreadsheet. It may contain many different data types in the columns. All data frames contain column names, which are strings, and row indices, which are integers. In this assignment you will illustrate your knwoledge about bundling various kinds of data together to be able to do higher-level tasks.

_Note:_ Go through **labs and homeworks 00-02** before starting this assignment.

#### 1.1 Submission

Please submit the results by Brightspace under **Assignment 01**, using a single file as example,

```text
firstname_secondname_thirdname_lastname_01.html

```

**If your file is not named in lowercase letters as mentioned above, your assignment will not be read by the script that works to compile > 200 assignments and you will miss out on the grades. I don't want that, so be exceptionally careful that you name it properly. Don't worry if you spelled your name incorrectly. I want to avoid a situation where I have 200 assignments all called assignment_01.html**

Please **do not** submit any data or files other than the ``html file``.

#### 1.2 How do you convert to HTML?

There are 2 ways,

1. from a running notebook, you can convert it into html by clicking on the file tab on the main menu of Jupyter Lab
    * File &rightarrow; Export Notebooks as... &rightarrow; Export Notebook to HTML
2. go to terminal or command line and type
    * ``jupyter nbconvert --to html <notebook_name>.ipynb  ``


#### 1.3 Learning Objectives

This assignment is designed to support three different learning objectives. After completing the following exercises you will be able to:

* Explore variables in a dataset
* Manage missing data
* Reshape data to get it in a form useful for statistical analysis

#### 1.4 Tasks

This assignment requires you to go through five tasks in cleaning your data.

1. Reading and summarizing the data.
2. Subsetting the Data. This extracts just the part of the data you want to analyse.
3. Manage Missing Data. Some data is not available for all objects of interest (rows) or all variables for every object (columns).
4. Shape the Data. We need to convert the data into a suitable format for analysis.
5. Saving the Results. The results are saved for future use.

<br/>

***

# ``Critical Data Science``

Throughout the assignment, we encourage you to critically reflect on your choices during the Data Science process. To help you set-up your Critical Data Science process, we have provided you with a 'Guide on Critical Data Science'. Section 3.2 contains a step-by-step approach which each key considerations for each part of the data science process. The guide can be found here: https://epa122a.github.io/resources_index.html#a-guide-to-critical-data-science. Throughout this exercises, you will also find several questions which you can use to reflect on your data science choices.

<br/>

***

# ``Task 1: Downloading the Data``

For this assignment we are going to use the Den Haag cijfers database as a source of data. The database allows us to investigate a range of socio-economic variables for residents in The Hague. The data consists of time series which in some cases dates back into the seventies.

You can download the data here as a csv file (You will have to choose the variables and file format yourself):
https://denhaag.incijfers.nl/jive

Put the data in a convenient location on your computer or laptop, ideally in a folder called **data** which is next to this **jupyter notebook**. I recommend taking a look at the file in a text editor like _zed_ for any system or notepad++ for windows. These will also make your life easy for everything else on your computer. It’s a big file and it may take a while to load onto your laptop and into Python (running on the jupyter labs environment).

## ``Exercise: Downloading the Data``

**IMPORTANT** make sure your code can run independent of the machine. i.e.
- Use relative path links instead of absolute paths. If your data folder is named C:/HelloKitty/MyGummyBears/IlovePython/DenHaagData.csv, then your program will not be reproducible on any other machine. Check out this very easy to follow and handy guide on [relative paths](https://www.delftstack.com/howto/python/relative-path-in-python/).
- Organise the data in a folder called `data` and run your notebook next to it organised as follows

```text
├── trivik_verma_01.ipynb
├── data
│   ├── DenHaagData.csv
```

- Load the csv file into Python
- Explore it by looking at first and last 5 rows
- Programatically find and print information on the data,
    - number of columns in the data
    - names of the columns in the data
    - number of rows in the data (excluding the header names)
    - how many unique neighborhoods in the data
    - how many unique variables are in the data

In [1]:
import pandas as pd

# Step 1: Load the CSV file
data = pd.read_csv('data/DenHaagData.csv', na_values=['-', 'x'])
       
data.head(5)

,District_name,Year,Gemiddelde totaalscore Sociaal Economische Status WOA (SES/WOA score) [score],Gemiddelde SES/WOAscore: deelscore financiële welvaart [score],Gemiddelde SES/WOAscore: deelscore opleidingsniveau [score],Gemiddelde SES/WOAscore: deelscore arbeidsverleden [score],Gross population density [residents/hectare],0 to 19-year-olds [persons],20 to 64-year-olds [persons],65 year-olds and above [persons],...,Overlast ivm alcohol/drugs [number],Openbare dronkenschap [number],Overlast zwervers [number],Overlast door verward persoon [number],Geluidsoverlast [number],Rapportcijfer 'Veiligheid in de buurt' [score],Voelt zich wel eens onveilig in eigen buurt [procent (%)],Voelt zich vaak onveilig in eigen buurt [procent (%)],Voelt zich wel eens onveilig in algemeen [procent (%)],Voelt zich vaak onveilig in algemeen [procent (%)]
0,"14 Bohemen, Meer en Bos",2014,0.127,0.105,0.034,-0.013,38.5,627.0,2408.0,1637.0,...,0.0,1.0,0.0,17.0,9.0,NaN,NaN,NaN,NaN,NaN
1,"14 Bohemen, Meer en Bos",2015,0.125,0.104,0.035,-0.013,39.1,602.0,2399.0,1743.0,...,2.0,1.0,0.0,26.0,7.0,NaN,NaN,NaN,NaN,NaN
2,"14 Bohemen, Meer en Bos",2016,0.121,0.092,0.037,-0.007,38.9,612.0,2373.0,1773.0,...,5.0,0.0,4.0,32.0,6.0,NaN,NaN,NaN,NaN,NaN
3,"14 Bohemen, Meer en Bos",2017,0.119,0.087,0.041,-0.009,39.3,622.0,2400.0,1793.0,...,10.0,2.0,10.0,62.0,19.0,NaN,NaN,NaN,NaN,NaN
4,"14 Bohemen, Meer en Bos",2018,0.110,0.085,0.041,-0.016,40.0,648.0,2415.0,1829.0,...,12.0,2.0,10.0,47.0,23.0,NaN,NaN,NaN,NaN,NaN

In [2]:
# Full translation mapping for all 77 entries

column_translation = {
        "District_name": "district_name",
        "Year": "Year",
        "Gemiddelde totaalscore Sociaal Economische Status WOA (SES/WOA score) [score]": "Average Total Score Socioeconomic Status WOA (SES/WOA Score) [score]",
        "Gemiddelde SES/WOAscore: deelscore financiële welvaart [score]": "Average SES/WOA Score: Financial Prosperity Subscore [score]",
        "Gemiddelde SES/WOAscore: deelscore opleidingsniveau [score]": "Average SES/WOA Score: Educational Level Subscore [score]",
        "Gemiddelde SES/WOAscore: deelscore arbeidsverleden [score]": "Average SES/WOA Score: Work History Subscore [score]",
        "Gross population density [residents/hectare]": "Gross Population Density [residents/hectare]",
        "0 to 19-year-olds [persons]": "0 to 19-Year-Olds [persons]",
        "20 to 64-year-olds [persons]": "20 to 64-Year-Olds [persons]",
        "65 year-olds and above [persons]": "65-Year-Olds and Above [persons]",
        "% 0 to 19-year-olds [procent (%)]": "Percentage of 0 to 19-Year-Olds [percent (%)]",
        "% 20 to 64-year-olds [procent (%)]": "Percentage of 20 to 64-Year-Olds [percent (%)]",
        "% 65-year-olds and above [procent (%)]": "Percentage of 65-Year-Olds and Above [percent (%)]",
        "Average age of population [age]": "Average Age of Population [age]",
        "Dekkingsgraad [procent (%)]": "Coverage Ratio [percent (%)]",
        "Opleidingsniveau Laag [procent (%)]": "Educational Level Low [percent (%)]",
        "Opleidingsniveau Middelbaar [procent (%)]": "Educational Level Intermediate [percent (%)]",
        "Opleidingsniveau Hoog [procent (%)]": "Educational Level High [percent (%)]",
        "Average disposable income of private households [euro_s]": "Average Disposable Income of Private Households [euros]",
        "Average standardised disposable income of private households [euro_s]": "Average Standardised Disposable Income of Private Households [euros]",
        "Average personal income of individuals, 52 weeks [euro_s]": "Average Personal Income of Individuals, 52 Weeks [euros]",
        "Geregistreerde werkzoekenden UWV zonder een dienstverband [number]": "Registered Job Seekers UWV Without Employment [number]",
        "Geregistreerde werkzoekenden UWV met een dienstverband [number]": "Registered Job Seekers UWV With Employment [number]",
        "aantal 0 tot 23 jarigen in Haagse bevolking [persons]": "Number of 0 to 23-Year-Olds in The Hague Population [persons]",
        "% 0 tot 23 jarigen in Haagse bevolking [procent (%)]": "Percentage of 0 to 23-Year-Olds in The Hague Population [percent (%)]",
        "aantal 0 tot 4 jarigen in Haagse bevolking [persons]": "Number of 0 to 4-Year-Olds in The Hague Population [persons]",
        "aantal 4 tot 12 jarigen in Haagse bevolking [persons]": "Number of 4 to 12-Year-Olds in The Hague Population [persons]",
        "aantal 12 tot 18 jarigen in Haagse bevolking [persons]": "Number of 12 to 18-Year-Olds in The Hague Population [persons]",
        "aantal 18 tot 23 jarigen in Haagse bevolking [persons]": "Number of 18 to 23-Year-Olds in The Hague Population [persons]",
        "Afstand tot basisschool in km [kilometres]": "Distance to Primary School [kilometres]",
        "Distance to child day care centre [kilometres]": "Distance to Child Day Care Centre [kilometres]",
        "Distance to out-of-school care [kilometres]": "Distance to Out-of-School Care [kilometres]",
        "Distance to secondary school, total [kilometres]": "Distance to Secondary School, Total [kilometres]",
        "Distance to VMBO school [kilometres]": "Distance to VMBO School [kilometres]",
        "Distance to HAVO/VWO school [kilometres]": "Distance to HAVO/VWO School [kilometres]",
        "Number of child day care centres within 1 km [number]": "Number of Child Day Care Centres Within 1 km [number]",
        "Number of child day care centres within 3 km [number]": "Number of Child Day Care Centres Within 3 km [number]",
        "Number of child day care centres within 5 km [number]": "Number of Child Day Care Centres Within 5 km [number]",
        "Number of out-of-school care centres within 1 km [number]": "Number of Out-of-School Care Centres Within 1 km [number]",
        "Number of out-of-school care centres within 3 km [number]": "Number of Out-of-School Care Centres Within 3 km [number]",
        "Number of out-of-school care centres within 5 km [number]": "Number of Out-of-School Care Centres Within 5 km [number]",
        "Number of schools within 1 km [number]": "Number of Schools Within 1 km [number]",
        "Number of schools within 3 km [number]": "Number of Schools Within 3 km [number]",
        "Number of schools within 5 km [number]": "Number of Schools Within 5 km [number]",
        "Total number of secondary schools within 3 km [number]": "Total Number of Secondary Schools Within 3 km [number]",
        "Total number of secondary schools within 5 km [number]": "Total Number of Secondary Schools Within 5 km [number]",
        "Total number of secondary schools within 10 km [number]": "Total Number of Secondary Schools Within 10 km [number]",
        "Number of VMBO schools within 3 km [number]": "Number of VMBO Schools Within 3 km [number]",
        "Number of VMBO schools within 5 km [number]": "Number of VMBO Schools Within 5 km [number]",
        "Number of VMBO schools within 10 km [number]": "Number of VMBO Schools Within 10 km [number]",
        "Number of HAVO/VWO schools within 3 km [number]": "Number of HAVO/VWO Schools Within 3 km [number]",
        "Number of HAVO/VWO schools within 5 km [number]": "Number of HAVO/VWO Schools Within 5 km [number]",
        "Number of HAVO/VWO schools within 10 km [number]": "Number of HAVO/VWO Schools Within 10 km [number]",
        "Number of participants in education [persons]": "Number of Participants in Education [persons]",
        "Number of new school drop-outs [persons]": "Number of New School Drop-Outs [persons]",
        "% (nieuwe) voortijdig schoolverlaters [procent (%)]": "Percentage of New School Drop-Outs [percent (%)]",
        "Number of participants in secondary education [persons]": "Number of Participants in Secondary Education [persons]",
        "Number of new drop-outs from secondary education [persons]": "Number of New Drop-Outs from Secondary Education [persons]",
        "% new school drop-outs, secondary education [procent (%)]": "Percentage of New School Drop-Outs, Secondary Education [percent (%)]",
        "Number of participants in MBO [persons]": "Number of Participants in MBO [persons]",
        "Number of new drop-outs from MBO [persons]": "Number of New Drop-Outs from MBO [persons]",
        "% new school drop-outs, MBO [procent (%)]": "Percentage of New School Drop-Outs, MBO [percent (%)]",
        "aantal onderwijsdeelnemers VAVO [persons]": "Number of Education Participants VAVO [persons]",
        "aantal nieuwe voortijdig schoolverlaters VAVO [persons]": "Number of New Drop-Outs from VAVO [persons]",
        "% nieuwe voortijdig schoolverlaters VAVO [procent (%)]": "Percentage of New Drop-Outs from VAVO [percent (%)]",
        "Overlast totaal [number]": "Total Nuisance [number]",
        "Jeugdoverlast [number]": "Youth Nuisance [number]",
        "Overlast ivm alcohol/drugs [number]": "Nuisance Related to Alcohol/Drugs [number]",
        "Openbare dronkenschap [number]": "Public Drunkenness [number]",
        "Overlast zwervers [number]": "Nuisance from Homeless People [number]",
        "Overlast door verward persoon [number]": "Nuisance from Disturbed Persons [number]",
        "Geluidsoverlast [number]": "Noise Nuisance [number]",
        "Rapportcijfer 'Veiligheid in de buurt' [score]": "Score for 'Safety in the Neighborhood' [score]",
        "Voelt zich wel eens onveilig in eigen buurt [procent (%)]": "Feels Unsafe in Own Neighborhood Occasionally [percent (%)]",
        "Voelt zich vaak onveilig in eigen buurt [procent (%)]": "Feels Unsafe in Own Neighborhood Frequently [percent (%)]",
        "Voelt zich wel eens onveilig in algemeen [procent (%)]": "Feels Unsafe in General Occasionally [percent (%)]",
        "Voelt zich vaak onveilig in algemeen [procent (%)]": "Feels Unsafe in General Frequently [percent (%)]"
    }


data.rename(columns=column_translation, inplace=True)



# Define the data types for each column

column_data_types = {
        "district_name": str,
        "Year": "Int64",  # Nullable integer
        "Average Total Score Socioeconomic Status WOA (SES/WOA Score) [score]": float,
        "Average SES/WOA Score: Financial Prosperity Subscore [score]": float,
        "Average SES/WOA Score: Educational Level Subscore [score]": float,
        "Average SES/WOA Score: Work History Subscore [score]": float,
        "Gross Population Density [residents/hectare]": float,
        "0 to 19-Year-Olds [persons]": "Int64",
        "20 to 64-Year-Olds [persons]": "Int64",
        "65-Year-Olds and Above [persons]": "Int64",
        "Percentage of 0 to 19-Year-Olds [percent (%)]": float,
        "Percentage of 20 to 64-Year-Olds [percent (%)]": float,
        "Percentage of 65-Year-Olds and Above [percent (%)]": float,
        "Average Age of Population [age]": float,
        "Coverage Ratio [percent (%)]": float,
        "Educational Level Low [percent (%)]": float,
        "Educational Level Intermediate [percent (%)]": float,
        "Educational Level High [percent (%)]": float,
        "Average Disposable Income of Private Households [euros]": float,
        "Average Standardised Disposable Income of Private Households [euros]": float,
        "Average Personal Income of Individuals, 52 Weeks [euros]": float,
        "Registered Job Seekers UWV Without Employment [number]": "Int64",
        "Registered Job Seekers UWV With Employment [number]": "Int64",
        "Number of 0 to 23-Year-Olds in The Hague Population [persons]": "Int64",
        "Percentage of 0 to 23-Year-Olds in The Hague Population [percent (%)]": float,
        "Number of 0 to 4-Year-Olds in The Hague Population [persons]": "Int64",
        "Number of 4 to 12-Year-Olds in The Hague Population [persons]": "Int64",
        "Number of 12 to 18-Year-Olds in The Hague Population [persons]": "Int64",
        "Number of 18 to 23-Year-Olds in The Hague Population [persons]": "Int64",
        "Distance to Primary School [kilometres]": float,
        "Distance to Child Day Care Centre [kilometres]": float,
        "Distance to Out-of-School Care [kilometres]": float,
        "Distance to Secondary School, Total [kilometres]": float,
        "Distance to VMBO School [kilometres]": float,
        "Distance to HAVO/VWO School [kilometres]": float,
        "Number of Child Day Care Centres Within 1 km [number]": "Int64",
        "Number of Child Day Care Centres Within 3 km [number]": "Int64",
        "Number of Child Day Care Centres Within 5 km [number]": "Int64",
        "Number of Out-of-School Care Centres Within 1 km [number]": "Int64",
        "Number of Out-of-School Care Centres Within 3 km [number]": "Int64",
        "Number of Out-of-School Care Centres Within 5 km [number]": "Int64",
        "Number of Schools Within 1 km [number]": "Int64",
        "Number of Schools Within 3 km [number]": "Int64",
        "Number of Schools Within 5 km [number]": "Int64",
        "Total Number of Secondary Schools Within 3 km [number]": "Int64",
        "Total Number of Secondary Schools Within 5 km [number]": "Int64",
        "Total Number of Secondary Schools Within 10 km [number]": "Int64",
        "Number of VMBO Schools Within 3 km [number]": "Int64",
        "Number of VMBO Schools Within 5 km [number]": "Int64",
        "Number of VMBO Schools Within 10 km [number]": "Int64",
        "Number of HAVO/VWO Schools Within 3 km [number]": "Int64",
        "Number of HAVO/VWO Schools Within 5 km [number]": "Int64",
        "Number of HAVO/VWO Schools Within 10 km [number]": "Int64",
        "Number of Participants in Education [persons]": "Int64",
        "Number of New School Drop-Outs [persons]": "Int64",
        "Percentage of New School Drop-Outs [percent (%)]": float,
        "Number of Participants in Secondary Education [persons]": "Int64",
        "Number of New Drop-Outs from Secondary Education [persons]": "Int64",
        "Percentage of New School Drop-Outs, Secondary Education [percent (%)]": float,
        "Number of Participants in MBO [persons]": "Int64",
        "Number of New Drop-Outs from MBO [persons]": "Int64",
        "Percentage of New School Drop-Outs, MBO [percent (%)]": float,
        "Number of Education Participants VAVO [persons]": "Int64",
        "Number of New Drop-Outs from VAVO [persons]": "Int64",
        "Percentage of New Drop-Outs from VAVO [percent (%)]": float,
        "Total Nuisance [number]": "Int64",
        "Youth Nuisance [number]": "Int64",
        "Nuisance Related to Alcohol/Drugs [number]": "Int64",
        "Public Drunkenness [number]": "Int64",
        "Nuisance from Homeless People [number]": "Int64",
        "Nuisance from Disturbed Persons [number]": "Int64",
        "Noise Nuisance [number]": "Int64",
        "Score for 'Safety in the Neighborhood' [score]": float,
        "Feels Unsafe in Own Neighborhood Occasionally [percent (%)]": float,
        "Feels Unsafe in Own Neighborhood Frequently [percent (%)]": float,
        "Feels Unsafe in General Occasionally [percent (%)]": float,
        "Feels Unsafe in General Frequently [percent (%)]": float
}

for column, dtype in column_data_types.items():
        try:
            data[column] =  data[column].astype(dtype)
        except Exception as e:
            print(f"Error casting column {column}: {e}")

        
data.head(5)

,district_name,Year,Average Total Score Socioeconomic Status WOA (SES/WOA Score) [score],Average SES/WOA Score: Financial Prosperity Subscore [score],Average SES/WOA Score: Educational Level Subscore [score],Average SES/WOA Score: Work History Subscore [score],Gross Population Density [residents/hectare],0 to 19-Year-Olds [persons],20 to 64-Year-Olds [persons],65-Year-Olds and Above [persons],...,Nuisance Related to Alcohol/Drugs [number],Public Drunkenness [number],Nuisance from Homeless People [number],Nuisance from Disturbed Persons [number],Noise Nuisance [number],Score for 'Safety in the Neighborhood' [score],Feels Unsafe in Own Neighborhood Occasionally [percent (%)],Feels Unsafe in Own Neighborhood Frequently [percent (%)],Feels Unsafe in General Occasionally [percent (%)],Feels Unsafe in General Frequently [percent (%)]
0,"14 Bohemen, Meer en Bos",2014,0.127,0.105,0.034,-0.013,38.5,627,2408,1637,...,0,1,0,17,9,NaN,NaN,NaN,NaN,NaN
1,"14 Bohemen, Meer en Bos",2015,0.125,0.104,0.035,-0.013,39.1,602,2399,1743,...,2,1,0,26,7,NaN,NaN,NaN,NaN,NaN
2,"14 Bohemen, Meer en Bos",2016,0.121,0.092,0.037,-0.007,38.9,612,2373,1773,...,5,0,4,32,6,NaN,NaN,NaN,NaN,NaN
3,"14 Bohemen, Meer en Bos",2017,0.119,0.087,0.041,-0.009,39.3,622,2400,1793,...,10,2,10,62,19,NaN,NaN,NaN,NaN,NaN
4,"14 Bohemen, Meer en Bos",2018,0.110,0.085,0.041,-0.016,40.0,648,2415,1829,...,12,2,10,47,23,NaN,NaN,NaN,NaN,NaN

In [3]:
data.tail(5)

,district_name,Year,Average Total Score Socioeconomic Status WOA (SES/WOA Score) [score],Average SES/WOA Score: Financial Prosperity Subscore [score],Average SES/WOA Score: Educational Level Subscore [score],Average SES/WOA Score: Work History Subscore [score],Gross Population Density [residents/hectare],0 to 19-Year-Olds [persons],20 to 64-Year-Olds [persons],65-Year-Olds and Above [persons],...,Nuisance Related to Alcohol/Drugs [number],Public Drunkenness [number],Nuisance from Homeless People [number],Nuisance from Disturbed Persons [number],Noise Nuisance [number],Score for 'Safety in the Neighborhood' [score],Feels Unsafe in Own Neighborhood Occasionally [percent (%)],Feels Unsafe in Own Neighborhood Frequently [percent (%)],Feels Unsafe in General Occasionally [percent (%)],Feels Unsafe in General Frequently [percent (%)]
479,44 Leidschenveen,2020,0.327,0.131,0.094,0.103,61.8,6402,12543,1951,...,16,5,19,76,124,NaN,NaN,NaN,NaN,NaN
480,44 Leidschenveen,2021,0.318,0.128,0.092,0.099,61.5,6230,12459,2114,...,16,2,3,57,128,7.5,0.148,0.015,0.363,0.021
481,44 Leidschenveen,2022,NaN,NaN,NaN,NaN,61.2,6041,12428,2207,...,29,5,7,46,56,NaN,NaN,NaN,NaN,NaN
482,44 Leidschenveen,2023,NaN,NaN,NaN,NaN,61.0,5803,12508,2323,...,25,1,6,55,63,7.4,0.144,0.007,0.378,0.009
483,44 Leidschenveen,2024,NaN,NaN,NaN,NaN,60.5,5631,12388,2444,...,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

print(f'\nThere are ',data['district_name'].nunique(),' different districts')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 78 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   district_name                                                          484 non-null    object
 1   Year                                                                   484 non-null    Int64
 2   Average Total Score Socioeconomic Status WOA (SES/WOA Score) [score]   332 non-null    float64
 3   Average SES/WOA Score: Financial Prosperity Subscore [score]           332 non-null    float64
 4   Average SES/WOA Score: Educational Level Subscore [score]              332 non-null    float64
 5   Average SES/WOA Score: Work History Subscore [score]                   332 non-null    float64
 6   Gross Population Density [residents/hectare]                           476 non-null    float64
 7   0 to 19-Year-Olds [persons]                                            464 non-null    Int64
 8   20 to 64-Year-Olds [persons]                                           473 non-null    Int64
 9   65-Year-Olds and Above [persons]                                       473 non-null    Int64
 10  Percentage of 0 to 19-Year-Olds [percent (%)]                          464 non-null    float64
 11  Percentage of 20 to 64-Year-Olds [percent (%)]                         473 non-null    float64
 12  Percentage of 65-Year-Olds and Above [percent (%)]                     473 non-null    float64
 13  Average Age of Population [age]                                        476 non-null    float64
 14  Coverage Ratio [percent (%)]                                           77 non-null     float64
 15  Educational Level Low [percent (%)]                                    235 non-null    float64
 16  Educational Level Intermediate [percent (%)]                           235 non-null    float64
 17  Educational Level High [percent (%)]                                   258 non-null    float64
 18  Average Disposable Income of Private Households [euros]                332 non-null    float64
 19  Average Standardised Disposable Income of Private Households [euros]   332 non-null    float64
 20  Average Personal Income of Individuals, 52 Weeks [euros]               344 non-null    float64
 21  Registered Job Seekers UWV Without Employment [number]                 0 non-null      Int64
 22  Registered Job Seekers UWV With Employment [number]                    0 non-null      Int64
 23  Number of 0 to 23-Year-Olds in The Hague Population [persons]          379 non-null    Int64
 24  Percentage of 0 to 23-Year-Olds in The Hague Population [percent (%)]  379 non-null    float64
 25  Number of 0 to 4-Year-Olds in The Hague Population [persons]           371 non-null    Int64
 26  Number of 2.5 to 4-year-olds (infants) in population [persons]         429 non-null    float64
 27  Number of 4 to 12-Year-Olds in The Hague Population [persons]          370 non-null    Int64
 28  Number of 12 to 18-Year-Olds in The Hague Population [persons]         370 non-null    Int64
 29  Number of 18 to 23-Year-Olds in The Hague Population [persons]         375 non-null    Int64
 30  Distance to Child Day Care Centre [kilometres]                         172 non-null    float64
 31  Distance to Out-of-School Care [kilometres]                            172 non-null    float64
 32  Distance to Primary School [kilometres]                                172 non-null    float64
 33  Distance to Secondary School, Total [kilometres]                       172 non-null    float64
 34  Distance to VMBO School [kilometres]                                   172 non-null    float64
 35  Distance to HAVO/VWO School [kilometres]                               172 non-null    float64
 36  Number of Child Day Care Centres Within 1 km [number]                  172 non-null    Int64
 37  Number of Child Day Care Centres Within 3 km [number]                  172 non-null    Int64
 38  Number of Child Day Care Centres Within 5 km [number]                  172 non-null    Int64
 39  Number of Out-of-School Care Centres Within 1 km [number]              172 non-null    Int64
 40  Number of Out-of-School Care Centres Within 3 km [number]              172 non-null    Int64
 41  Number of Out-of-School Care Centres Within 5 km [number]              172 non-null    Int64
 42  Number of Schools Within 1 km [number]                                 172 non-null    Int64
 43  Number of Schools Within 3 km [number]                                 172 non-null    Int64
 44  Number of Schools Within 5 km [number]                                 172 non-null    Int64
 45  Total Number of Secondary Schools Within 3 km [number]                 172 non-null    Int64
 46  Total Number of Secondary Schools Within 5 km [number]                 172 non-null    Int64
 47  Total Number of Secondary Schools Within 10 km [number]                172 non-null    Int64
 48  Number of VMBO Schools Within 3 km [number]                            172 non-null    Int64
 49  Number of VMBO Schools Within 5 km [number]                            172 non-null    Int64
 50  Number of VMBO Schools Within 10 km [number]                           172 non-null    Int64
 51  Number of HAVO/VWO Schools Within 3 km [number]                        172 non-null    Int64
 52  Number of HAVO/VWO Schools Within 5 km [number]                        172 non-null    Int64
 53  Number of HAVO/VWO Schools Within 10 km [number]                       172 non-null    Int64
 54  Number of Participants in Education [persons]                          202 non-null    Int64
 55  Number of New School Drop-Outs [persons]                               155 non-null    Int64
 56  Percentage of New School Drop-Outs [percent (%)]                       155 non-null    float64
 57  Number of Participants in Secondary Education [persons]                0 non-null      Int64
 58  Number of New Drop-Outs from Secondary Education [persons]             0 non-null      Int64
 59  Percentage of New School Drop-Outs, Secondary Education [percent (%)]  0 non-null      float64
 60  Number of Participants in MBO [persons]                                0 non-null      Int64
 61  Number of New Drop-Outs from MBO [persons]                             0 non-null      Int64
 62  Percentage of New School Drop-Outs, MBO [percent (%)]                  0 non-null      float64
 63  Number of Education Participants VAVO [persons]                        0 non-null      Int64
 64  Number of New Drop-Outs from VAVO [persons]                            0 non-null      Int64
 65  Percentage of New Drop-Outs from VAVO [percent (%)]                    0 non-null      float64
 66  Total Nuisance [number]                                                440 non-null    Int64
 67  Youth Nuisance [number]                                                440 non-null    Int64
 68  Nuisance Related to Alcohol/Drugs [number]                             440 non-null    Int64
 69  Public Drunkenness [number]                                            440 non-null    Int64
 70  Nuisance from Homeless People [number]                                 440 non-null    Int64
 71  Nuisance from Disturbed Persons [number]                               440 non-null    Int64
 72  Noise Nuisance [number]                                                440 non-null    Int64
 73  Score for 'Safety in the Neighborhood' [score]                         69 non-null     float64
 74  Feels Unsafe in Own Neighborhood Occasionally [percent (%)]            68 non-null     float64
 75  Feels Unsafe in Own Neighborhood Frequently [percent (%)]              68 non-null     float64
 76  Feels Unsafe in General Occasionally [percent (%)]                     68 non-null     float64
 77  Feels Unsafe in General Frequently [percent (%)]                       68 non-null     float64
dtypes: Int64(44), float64(33), object(1)
memory usage: 315.9+ KB

There are  44  different districts

- The dataset consists of 78 columns and 484 rows, capturing various metrics at the district level.
- It combines demographic, socioeconomic, educational, and nuisance-related data.

**Demographic Data:**

- Columns include population counts across age groups (e.g., "0 to 19-Year-Olds", "65-Year-Olds and Above").
- Metrics include percentages for these age groups relative to the total population and average age of residents.

**Socioeconomic Data:**

- Includes socioeconomic status scores and subscores (e.g., financial prosperity, educational level, work history).
- Provides insights into income levels for households and individuals (e.g., disposable income, personal income for 52 weeks).

**Educational Data:**

- Tracks education levels (low, intermediate, high) and access to schools and daycare facilities (e.g., distances to schools, number of facilities within 1-10 km).
- Includes data on education participants and drop-outs, with additional details for secondary education and vocational training (MBO).

**Nuisance and Safety Data:**

- Captures reports of nuisance related to alcohol, drugs, homelessness, and disturbances.
- Includes metrics on noise complaints, public drunkenness, and safety perceptions (e.g., "Feels Unsafe in Own Neighborhood").

 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

<span style="color:red"> **Data Types:** </span>

- Columns include categorical data (e.g., "District Name"), numeric data (e.g., integers and floats), and nullable types.

<span style="color:red">**Data Completeness:**</span>

- Some columns, such as population and nuisance metrics, are well-populated, while others (e.g., job seekers, safety scores) have significant missing values, making imputation or targeted analysis necessary.

<br/>

***

# ``Task 2: Hypothesis formulation``

Think about your focus of analysis. What do you want to find out? A first step is to think about what variables might be related with each other and what these relationships could like like. Think also about a causal theory. Why do you expect this relationship to exist and to take on a specific form.

To give you an example from another dataset (this is a dataset of the worldbank: http://data.worldbank.org/data-catalog/world-development-indicators), have a look at the hypothesis below. I chose an analysis focus and then made some asumptions on the relationships between the focus variables. These asumptions are what I want to test as a formal hypothesis later on.

```text
My hypothesis
I’d like to examine world broadband access. For that reason I chose a broadband account variable. The data is organized by country. I want to control for the wealth, population, and land area of the country. I also have a hypothesis that more urban countries are more likely to have good broadband services. There are economies of scale when providing services to a large city.

I hypothesize that larger countries have lesser access, since it is expensive to provide access over larger areas. On the contrary, countries with a lot of urban land area can take advantage of economies of scale resulting in relatively more broadband users concentrated in smaller zones within the country. We also hypothesize that wealthier countries have better broadband access, since there is a larger market to provide the newest services. A final variable which we add is rail lines. I hypothesize that broadband lines can take advantage of existing infrastructure right-of-ways, of which rail is a surrogate measure. Furthermore, the presence of rail lines may indicate other factors including a geography which is conclusive to physical development, and favourable institutional factors which promote high technology development.

My choice of variables were,

| Variable Name                 | Variable Code     |
| ----------------------------- | ----------------- |
| Fixed broadband subscriptions | IT.NET.BBND       |
| GDP (current US$)             | NY.GDP.MKTP.CD    |
| Population, total             | SP.POP.TOTL       |
| Land area (sq. km)            | AG.LND.TOTL.K2    |
| Urban land area (sq. km)      | AG.LND.TOTL.UR.K2 |
| Rail lines (total route-km)   | IS.RRS.TOTL.KM    |

```

Formulate a working hypothesis. Provide a list of variables you need to include in your hypothesis. Explain what your dependent variable is. Explain your choice of independent and control variables. Would you wish to include any variables that is not available? Are there any variables (proxies) present with which you could replace these missing values? Would that have an effect on your outcomes? Think about bias in the data. Why do you expect to find the relationship that you are hypothesising? Can you think of any cases in which this hypothesis will be rejected? Why? Can you think of any cases in which the hypothesis will be falsely rejected or falsely acepted? Think about bias in the data and in your own reasoning.

## ``Exercise: Hypothesising``

- State your hypothesis in a markdown cell as I showed in the example above (there is no single right hypothesis, you are free to make a **reasonable** choice for this task)
- Find the variables of interest for your hypothesis and mention them in the markdown cell (4-7 variables)
- Explain what your dependent variable is. Explain your choice of independent and control variables.
- Would you wish to include any variables that is not available? Are there any variables (proxies) present with which you could replace these missing values? Would that have an effect on your outcomes? Think about bias in the data. Explain your reasoning.
- Can you think of any cases in which this hypothesis will be rejected? Why?
- Can you think of any cases in which the hypothesis will be falsely rejected or falsely acepted? Think about bias in the data and in your own reasoning.
- Can you shortly reflect if there are any potentially important perspectives that you are not taking into account by choosing this hypothesis?

## The Impact of Population Density, Schools, and Crime on Dropout Rates Over Time

I hypothesize that districts with higher population density and fewer schools per capita have higher dropout rates over time. Overcrowded schools and limited resources make it harder for students to stay in school. I also believe that higher crime rates contribute to dropout rates by creating unsafe environments that discourage regular attendance and engagement.
Moreover, I think that the presence of out-of-school centers may help reduce dropout rates, especially in areas with fewer schools, by providing alternative spaces for learning. I also expect that districts with higher median household incomes and more educated adults have fewer dropouts because families in these areas are better equipped to support education.
Over multiple years, I expect to see changes in dropout rates correlate with shifts in these factors, such as the opening of new schools, improvements in public safety, or changes in economic conditions.

| **Variable Name**                     | **Dataset Variable**                                        | **Description**                                                                                 |
|:--------------------------------------|:-----------------------------------------------------------|:------------------------------------------------------------------------------------------------|
| **"school_dropout_rate"**               | Percentage of New School Drop-Outs [percent (%)]           | <span style="color:blue">Dependent</span>: Measuring the percentage of students leaving school before completion.       |
| **student_population**                | Number of 0 to 23-Year-Olds in The Hague Population [persons] | <span style="color:green">Independent</span>: Reflecting the concentration of people per square kilometer.               |
| **schools_within_3km**     | Number of Schools Within 3 km [number]                     | <span style="color:green">Independent</span>: Indicating the availability of schools relative to the student population.         |
| **out_of_school_centers**   | Number of Out-of-School Care Centres Within 3 km [number]   | <span style="color:green">Independent</span>: Capturing alternative learning spaces that could reduce dropout rates.      |
| **crime_rate**                        | Youth Nuisance [number]                                    | <span style="color:green">Independent</span>: Measuring local safety, which may influence school attendance.             |
| **median_household_income**           | Average Disposable Income of Private Households [euros]    | <span style="color:orange">Control</span>: Accounting for socioeconomic differences between districts.                    |
| **education_attainment_level** | Average SES/WOA Score: Educational Level Subscore [score] | <span style="color:orange">Control</span>: Reflecting adult education levels, which can influence the value placed on education.|

---
**Missing or Additional Variables**

**Desired Variables**:

  - School funding or resources per student: A more direct measure of the impact of overcrowding or resource scarcity.
  - Teacher-to-student ratio: Could provide a better proxy for school overcrowding.
  
**Proxies in the Dataset**:

  - The number of schools per capita can partially act as a proxy for resource availability, but it may not fully capture the quality of education or resource disparities.
  - Crime rate serves as a proxy for safety but may not reflect other factors affecting attendance, such as bullying or lack of transportation.

---

**Potential Rejections of the Hypothesis**

In this case the hypothesis may be validly rejected if the data shows no significant correlation between factors like population density, school availability, crime rates, and dropout rates. For instance, if dropout rates remain low in densely populated areas with fewer schools, it would contradict the hypothesis. However, it could be falsely rejected due to biases in data collection, such as underreporting dropout rates in certain districts, or the use of proxies like crime rate, which may not fully capture other safety issues like bullying or unsafe commutes. Similarly, the hypothesis could be falsely accepted if unrelated interventions, such as government subsidies or national campaigns promoting education, reduce dropout rates independently of the analyzed factors.

---

**Potentially Missing Perspectives**

- Qualitative aspects: Factors like cultural values, parental involvement, and teacher motivation are not captured.
- Temporal effects: Delayed impacts of interventions (e.g., opening new schools) may not align with the study's timeframe.
- Equity considerations: Differences in dropout rates among socioeconomic or ethnic groups may provide additional insights into systemic biases or inequities.

<br/>

***

# ``Task 2: Subsetting the Data``




From now on we want to work with a subset of the data that is relevant to your study focus. Choose **4 to 7 variables** from your dataset for further exploratory statistics (more information will follow later in exercises). Think carefully about how you want to address the neighboorhoods. Does it make sense to build a new ID or should you use the provided IDs? Remember that it is important to work with codes as opposed to names to make our analyses more reproducible across time. For now let’s set aside the added complexity of time series and dynamics. Our task is to select just one year.

## ``Exercise: Subsetting the Data``

- Subset your dataframe based on your focus of analysis and your choice of variables.
- your dataframe would have greatly reduced in size and looks neater, show us what it looks like now using head() or something similar
    - show some statistics like number or rows, columns, names of variables and unique neighbourhoods, etc.

You can count the columns manually, but in a large data set like this it is accurate and convenient to let python calculate this for us. Get the index of relevant columns and store them in a variable.

In [5]:
# List of columns to extract
columns_to_extract = [
    "district_name",
    "Year",
    "Percentage of New School Drop-Outs [percent (%)]",
    "Number of 0 to 23-Year-Olds in The Hague Population [persons]",
    "Number of Schools Within 3 km [number]",
    "Number of Out-of-School Care Centres Within 3 km [number]",
    "Youth Nuisance [number]",
    "Average Disposable Income of Private Households [euros]",
    "Average SES/WOA Score: Educational Level Subscore [score]"
]

# Extract the required columns
filtered_data = data[columns_to_extract]
filtered_data.head(10)

,district_name,Year,Percentage of New School Drop-Outs [percent (%)],Number of 0 to 23-Year-Olds in The Hague Population [persons],Number of Schools Within 3 km [number],Number of Out-of-School Care Centres Within 3 km [number],Youth Nuisance [number],Average Disposable Income of Private Households [euros],Average SES/WOA Score: Educational Level Subscore [score]
0,"14 Bohemen, Meer en Bos",2014,NaN,<NA>,<NA>,<NA>,2,38400.0,0.034
1,"14 Bohemen, Meer en Bos",2015,NaN,688,<NA>,<NA>,2,38500.0,0.035
2,"14 Bohemen, Meer en Bos",2016,NaN,696,<NA>,<NA>,6,39100.0,0.037
3,"14 Bohemen, Meer en Bos",2017,NaN,717,<NA>,<NA>,18,40400.0,0.041
4,"14 Bohemen, Meer en Bos",2018,NaN,730,<NA>,<NA>,18,41300.0,0.041
5,"14 Bohemen, Meer en Bos",2019,0.025,684,24,39,15,43300.0,0.048
6,"14 Bohemen, Meer en Bos",2020,NaN,703,24,37,50,44800.0,0.057
7,"14 Bohemen, Meer en Bos",2021,0.025,681,24,39,40,46000.0,0.058
8,"14 Bohemen, Meer en Bos",2022,0.026,710,20,34,21,NaN,NaN
9,"14 Bohemen, Meer en Bos",2023,NaN,697,<NA>,<NA>,32,NaN,NaN

<br/>

***

# ``Task 3: Manage Missing Data``

Datasets often have missing data. Not all variables are as well documented for every year as others. There are a number of ways in general of dealing with missing data. These involve

1. Dropping off cases (or rows) in the data with any missing variables
2. Excluding variables in the data with any missing data
3. Selectively choosing indicators with only a limited amount of missing data
4. Replacing missing variables with averages, or other representative values
5. Creating a separate model to predict missing data

In this assignment we are going to use a number of these strategies. We can certainly be dropping off cases (strategy one). I am loathe to drop off whole indicators. But we can, for example, choose a year for the indicator where most of the data is available (strategy three).

Building a separate model to impute missing data, is often a good idea. But that requires a first working model before we even consider building a missing data model (and we haven't gotten there yet in this course); the working model and the missing data model are often constructed together. Note also that there are packages in Python which will construct a model of your data, and then impute missing values for you. You may or may not find these functions and packaging for modelling your data to be fully appropriate. Therefore treat these missing data models very seriously, and not as a black box. Models of missing data are as important, and deserve just as much care and caution as any other statistical model.

In the next section I discuss some specifics about how the data is currently formatted, and how we would like to have it formatted for analysis purposes.

## ``Exercise: Manage Missing Data``
- Explore and handle the missing data in your data set using one of the methods mentioned above. Visualize your findings if necessary. Think about potential explanations for gaps in the data. Think about what stage of the process led to the data gaps? Are the gaps going to be a problem for your analysis? Why?
- Explain your choice of method. Can you think of ways how the chosen method skews your results? Did your data quality increase? Why?
- At this stage, reflect on your choices along the way. Should you reiterate (e.g. choose a different focus/ hypothesis/ year for your analysis)? Why?
- Also shortly reflect what the data gaps might mean. Are there collections of variables for which data is structurally missing? Are there neighbourhoods for which data is structurally missing? What can cause these structural gaps in the data?

-----
I decided to focus on the year 2019 because it had the most complete data. To ensure the analysis remains accurate, I dropped rows where important independent variables, like student population or number of schools, were missing since these directly affect the results. For other missing values, like dropout rates or household income, I used mean imputation to fill the gaps, keeping as much data as possible while maintaining consistency. Some data gaps may be due to issues like underreporting in certain districts. I will monitor potential bias from these methods and make adjustments if needed.

In [6]:
# Step 1: Group by 'Year' and count non-null values for each column
non_null_counts_by_year = filtered_data.groupby("Year").apply(lambda x: x.notnull().sum(axis=0))

# Step 2: Calculate the total number of non-null values across all columns for each year
total_non_null_by_year = non_null_counts_by_year.sum(axis=1)

# Step 3: Find the year with the most available data
year_with_most_data = total_non_null_by_year.idxmax()
max_value = total_non_null_by_year.max()

# Output the result
print(f"The year with the most available data is {year_with_most_data} with {max_value} non-null values.")

The year with the most available data is 2019 with 375 non-null values.

In [7]:
# Step 4: Filter the dataset for the year with the most available data
filtered_data_for_best_year = filtered_data[filtered_data["Year"] == 2019]

# Step 5: Drop the 'Year' column
filtered_data_for_best_year = filtered_data_for_best_year.drop(columns=["Year"])

filtered_data_for_best_year.head()

filtered_data_for_best_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 5 to 478
Data columns (total 8 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   district_name                                                  44 non-null     object
 1   Percentage of New School Drop-Outs [percent (%)]               31 non-null     float64
 2   Number of 0 to 23-Year-Olds in The Hague Population [persons]  42 non-null     Int64
 3   Number of Schools Within 3 km [number]                         43 non-null     Int64
 4   Number of Out-of-School Care Centres Within 3 km [number]      43 non-null     Int64
 5   Youth Nuisance [number]                                        44 non-null     Int64
 6   Average Disposable Income of Private Households [euros]        42 non-null     float64
 7   Average SES/WOA Score: Educational Level Subscore [score]      42 non-null     float64
dtypes: Int64(4), float64(3), object(1)
memory usage: 3.3+ KB

In [8]:
#Drop rows where independent variables are missing and fill where
# Step 1: Drop rows where independent variables are missing
independent_vars = [
    "Number of 0 to 23-Year-Olds in The Hague Population [persons]",
    "Number of Schools Within 3 km [number]",
    "Number of Out-of-School Care Centres Within 3 km [number]",
    "Youth Nuisance [number]"
]
# Drop rows with missing values in independent variables
cleaned_dataset = filtered_data_for_best_year.dropna(subset=independent_vars).reset_index(drop=True)  # Fully reset index for the new DataFrame


# Step 2: Fill missing values for other columns (mean imputation for dependent/control variables)
variables_to_impute = [
    "Percentage of New School Drop-Outs [percent (%)]",
    "Average Disposable Income of Private Households [euros]",
    "Average SES/WOA Score: Educational Level Subscore [score]"
]
for col in variables_to_impute:
    cleaned_dataset.loc[:, col] = cleaned_dataset[col].fillna(cleaned_dataset[col].mean())

## ``Task 4: Reshape the Data``
Reshaping data is a two-step process of melting and pivoting the data. Melting the data involves describing which data are indicators ("id") and which are variables for retrieval (“measure”). In this case your data may already be in melted form (long form). Pivoting then involves actually reshaping the data into the needed format. In this step, you have to reshape the data from long to wide format.

Pivoting the data involves specifying what data is on the rows and on the columns. Hint: functions melt and pivot offered by ``numpy`` library in python. For our analyses we want the neighborhood IDs to be on the rows, and to have all 4-7 variables as columns, where the value of each cell is the value taken from the column year that you chose at the subsetting step.

## ``Exercise: Reshape the Data``
- Do you need to melt and pivot the data in your specific case? Explain.
- Examine the dimensions of the new datadrame if you had to pivot. Show it to us using head or print commands.
- Then rename all column names to something better and useful and easily addressable.

In [9]:
final_dataset = cleaned_dataset

#setting the district names to be use as id
final_dataset = final_dataset.set_index('district_name')


#rename the columns 
final_dataset.rename(columns={
    "Percentage of New School Drop-Outs [percent (%)]": "school_dropout_rate",
    "Number of 0 to 23-Year-Olds in The Hague Population [persons]": "student_population",
    "Number of Schools Within 3 km [number]": "schools_within_3km",
    "Number of Out-of-School Care Centres Within 3 km [number]": "out_of_school_centers",
    "Youth Nuisance [number]": "crime_rate",
    "Average Disposable Income of Private Households [euros]": "median_household_income",
    "Average SES/WOA Score: Educational Level Subscore [score]": "education_attainment_level"
}, inplace=True)

final_dataset.head(10)

,school_dropout_rate,student_population,schools_within_3km,out_of_school_centers,crime_rate,median_household_income,education_attainment_level
district_name,,,,,,,
"14 Bohemen, Meer en Bos",0.025000,684,24,39,15,43300.0,0.048
15 Kijkduin en Ockenburgh,0.022742,489,14,25,7,77200.0,0.080
16 Kraayenstein en Vroondaal,0.020000,1560,11,15,18,57800.0,0.064
17 Loosduinen,0.029000,4164,27,38,85,40700.0,-0.038
18 Waldeck,0.023000,3227,25,39,76,36400.0,-0.045
31 Rustenburg en Oostbroek,0.024000,5094,60,84,57,35000.0,-0.065
32 Leyenburg,0.023000,3376,54,72,121,37600.0,-0.029
33 Bouwlust/Vrederust,0.024000,8672,22,33,167,33100.0,-0.156
34 Morgenstond,0.020000,5198,37,53,62,32000.0,-0.141
36 Moerwijk,0.032000,6348,45,60,70,28800.0,-0.182

<br/>

***

# ``Task 5: Saving the Results``

_Note:_ We do not need this file but we expect that if you learn how to save your data, it will be very useful in the future, as you do not need to run the script to clean your data again.

- Save the cleaned dataframe as 'assignment-01-cleaned.csv' in your data folder
- Consider your final dataset. Reflect on why you think that this newly created dataset is appropriate/ not appropriate to asnwer your research question.

In [10]:
final_dataset.to_csv('data/assignment-01-cleaned.csv', index = True)